<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d460ab">  <td>21/02/06 14:06:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasePage.end()[pri:0, instance:progressiveTestRun.ProgressiveTest@614ddd49]">&lt;&lt;end</td> 
<td>&nbsp;</td>  <td>main@213193302</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>21/02/06 14:04:05</td>   <td>-129653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTest.getaquote()[pri:0, instance:progressiveTestRun.ProgressiveTest@614ddd49]">getaquote</td> 
  <td>main@213193302</td>   <td></td> </tr>
<tr bgcolor="d460ab">  <td>21/02/06 14:03:55</td>   <td>-139622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasePage.start()[pri:0, instance:progressiveTestRun.ProgressiveTest@614ddd49]">&gt;&gt;start</td> 
<td>&nbsp;</td>  <td>main@213193302</td>   <td></td> </tr>
</table>
